*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

body{
background:#f2f2f2;
}

.screen{
display:none;
height:100vh;
justify-content:center;
align-items:center;
flex-direction:column;
}

.active{
display:flex;
}

.center{
text-align:center;
}

.logo{
width:180px;
margin-bottom:20px;
}

input{
width:250px;
padding:10px;
margin:10px;
border-radius:6px;
border:1px solid #ccc;
}

button{
width:250px;
padding:10px;
margin:10px;
background:#003366;
color:white;
border:none;
border-radius:6px;
cursor:pointer;
}

.card{
background:white;
padding:20px;
margin:10px;
border-radius:10px;
box-shadow:0 2px 6px rgba(0,0,0,0.2);
cursor:pointer;
}

header{
width:100%;
background:#003366;
color:white;
padding:15px;
text-align:center;
}

.grid{
display:grid;
grid-template-columns:1fr 1fr;
gap:10px;
padding:20px;
}

.item{
background:white;
padding:20px;
border-radius:10px;
text-align:center;
}
