*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#f2f2f2;
}

/* telas */

.screen{
display:none;
height:100vh;
justify-content:center;
align-items:center;
flex-direction:column;
}

.active{
display:flex;
}

/* splash */

.logo{
width:200px;
margin-bottom:20px;
}

.center{
text-align:center;
}

/* login */

input{
width:250px;
padding:12px;
margin:10px;
border-radius:6px;
border:1px solid #ccc;
}

/* botões */

button{
width:250px;
padding:12px;
margin:10px;
background:#003366;
color:white;
border:none;
border-radius:8px;
cursor:pointer;
}

/* cards */

.card{
background:white;
padding:20px;
margin:10px;
border-radius:10px;
text-align:center;
cursor:pointer;
box-shadow:0 2px 6px rgba(0,0,0,0.2);
}

/* menu */

header{
width:100%;
background:#003366;
color:white;
padding:15px;
text-align:center;
}

.grid{
display:grid;
grid-template-columns:1fr 1fr;
gap:10px;
padding:20px;
}

.item{
background:white;
padding:20px;
border-radius:10px;
text-align:center;
}
